*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Exo', sans-serif;
}

hr{
  height: 2px;
  background: 1px solid black;
}

.pdf-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-container-document{
  width: 100%;
  max-width: calc(100% - 2em);
  margin: 1em 0;
}