*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Exo', sans-serif;
}

hr{
  border-color: black;
  border-bottom: none;
  border-style: dashed;
  border-width: 2px;
  margin-bottom: 20px;
}

.pdf-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-container-document{
  width: 100%;
  max-width: calc(100% - 2em);
  margin: 1em 0;
}